@import ../../styles/Variables.sass

.bc-main
    align-items: center
    background: $white
    bottom: 0
    display: flex
    height: 100px
    justify-content: space-between
    max-width: $viewWidth
    padding: 30px
    position: fixed
    width: 100%
    z-index: 4

