@import ../../styles/Variables.sass

.us-camera-icon
    width: 24px
    height: 24px
    background: $white
    background-image: url(../../assets/video-camera.svg)
    background-position: center
    background-size: 11px
    background-repeat: no-repeat
    border-radius: 12px

.us-date-container
    display: flex
    align-items: center
    width: 100%
    background: $darkBlue
    border-radius: 15px
    height: 50px
    padding: 30px 25px

.us-date-container img 
    width: 12px
    height: auto
    margin-right: 8px
    border-radius: 3px

.us-date-container span 
    font-size: 11px
    font-weight: $medium

.us-doc-info
    display: flex
    align-items: center

.us-doc-info * h3 
    font-size: 14px
    margin: 0

.us-doc-info * p 
    font-size: 12px
    opacity: 0.65

.us-doc-info-container
    width: 100%
    display: flex 
    justify-content: space-between
    align-items: center

.us-doc-info img 
    width: 50px
    height: 50px
    border-radius: 13px
    margin-right: 15px
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072)

.us-horiz-flex-container
    width: 100%
    display: flex 
    justify-content: space-between
    align-items: center

.us-horiz-flex-container h1 
    color: $fontBlue
    font-size: 17px
    margin: 0

.us-horiz-flex-container p
    color: $blue
    font-size: 12px
    font-weight: $heavy

.us-main
    margin-top: 35px

.us-main * 
    color: $white

.us-schedule-container
    display: flex 
    flex-wrap: wrap
    align-content: space-between
    width: 100%
    height: 175px
    background: $blue
    border-radius: 20px
    margin: 25px 0 0 0
    padding: 25px
    position: relative
    z-index: 3

.us-schedule-container-pop1
    height: 50px
    background: $blue
    border-radius: 20px
    width: 90%
    opacity: 0.4
    margin: -43px auto 0 auto
    position: relative
    z-index: 2


.us-schedule-container-pop2
    height: 50px
    background: $blue
    border-radius: 20px
    width: 80%
    opacity: 0.15
    margin: -42px auto 0 auto
    position: relative
    z-index: 1

