@import ../../styles/Variables.sass

.fyd-horiz-flex-container
    width: 100%
    display: flex 
    justify-content: space-between
    align-items: center

.fyd-horiz-flex-container h1 
    color: $fontBlue
    font-size: 17px
    margin: 0

.fyd-main
    margin-top: 35px

.fyd-switch-icon
    width: 25px
    height: 25px
    transform: scaleX(-1)

