@import ../../styles/Variables.sass

.mb-main
    display: flex
    justify-content: center
    align-items: center
    min-width: 40px
    height: 40px
    width: auto
    padding: 8px
    border-radius: 20px
    flex-shrink: 0

    &.active
        background: $lightBlue

.mb-main img
    width: 20px
    height: 20px
