@import ../../styles/Variables.sass

.view1-headshot
    border: 4px solid $white
    border-radius: 13px
    height: 45px
    width: 45px

.view1-horiz-flex-container
    width: 100%

.view1-horiz-flex-container * p 
    text-align: center
    font-size: 12px

.view1-horiz-flex-container * span
    color: $fontBlue
    font-size: 14px
    font-weight: $heavy

.view1-horiz-flex-container, .view1-location-container
    align-items: center
    display: flex
    justify-content: space-between

.view1-location-icon
    height: auto
    margin-right: 3px
    width: 15px

.view1-menu-button
    background: $white
    background-image: url("../../assets/menu-icon.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: 25px
    border-radius: 13px
    height: 45px
    width: 45px