@import ./styles/Variables.sass

*
    box-sizing: border-box

html
    overflow: scroll
    overflow-x: hidden

body
    margin: 0
    font-family: $poppins
    color: $mediumGray
    font-weight: $medium

input[type=text]:focus
    outline: none

p
    margin: 0

::placeholder
    color: $mediumGray
    opacity: 0.6

.main
    width: 100vw
    height: auto
    min-height: 100vh
    display: flex
    justify-content: center
    background-color: $background

.switch-menu
    padding: 30px
    width: 100%
    max-width: $viewWidth
    display: flex
    justify-content: space-evenly
    align-items: center
    cursor: pointer

.switch-menu div 
    display: flex
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    border-radius: 15px
    background: $blue
    color: $white
    text-align: center


